
.dropdown{
    margin-top: 29px;
    margin-right: 22px;
    width: 26px;
    height: 29px;
    position: relative;
    background: #FFFFFF;
    z-index:1003;
}

.symbol {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    margin-right: 6px;
}

.reversed svg {
    transform: rotate(180deg);
}

.toggle {
    width: 38px;
    height: 29px;
    border: none;
    // padding-bottom: 23px;
    display: flex;
    align-items: center;
    // justify-content: center;


    cursor: pointer;
    background-color: transparent;
}

.dropdownMenu {

    position: absolute;
    top: 100%;
    left: 0;
    width: 114px;
    padding: 20px;
    box-sizing: border-box;

    transform: translate(-11px);

    background: #FFFFFF;
}

.dropdownMenu li:not(:last-child) {
    margin-bottom: 21px;
}

.button {
    border: none;
    display: block;
    width: 100%;
    padding: 0;
    text-align: left;

    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6em;
}