.cart {
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    width: 325px;
    max-height: 80vh;
    box-sizing: border-box;

    overflow-y: auto;
}

.product {
    display: flex;
}

.product:not(:last-child) {
    margin-bottom: 40px;
}

.title{
    margin-bottom: 32px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6em;

}

.title span {
    font-weight: 700;
}



.informationWrapper {
    width:164px;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
}

.text:last-child {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 27px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.6em;
}

.quantityWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 100%;
    margin-right: 5px;
}

.quantity {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6em;
}

.quantityBtn {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid var(--main-text-color);
    background-color: transparent;

    font-size: 14px;
    font-weight: 400;
    cursor:pointer;
}

.image {
    align-self: center;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
    font-family: var(--secondary-font);
}

.buttonsWrapper {
    display: flex;
    margin-top: 32px;
}

.link{ 
    display: inline-block;
    min-width: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 12px;
    border: 1px solid var(--main-text-color);

    text-align: center;
    text-decoration: none;
    color:inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21em;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    min-width: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 1px solid var(--accent-color);

    background-color: var(--accent-color);
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21em;
    text-transform: uppercase;
    cursor:pointer;
}