.dropdownCart {
  overflow-y: auto;
  width: 325px;
  max-height: 85vh;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
}

.product {
  display: flex;
}

.viewProduct {
  composes: product;
  border-top: 1px solid var(--cart-border-color);
  border-bottom: 1px solid var(--cart-border-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.dropdownProduct {
  composes: product;
}

.dropdownProduct:not(:last-child) {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 32px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
}

.title span {
  font-weight: 700;
}

.viewInformationWrapper {
  margin-right: auto;
}

.dropdownInformationWrapper {
  width: 164px;
}

.dropdownBrand {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
}

.dropdownName {
  composes: dropdownBrand;
  margin-bottom: 5px;
}

.viewBrand {
  margin-bottom: 16px;

  font-size: 30px;
  font-weight: 600;
}

.viewName {
  margin-bottom: 20px;

  font-size: 30px;
  font-weight: 400;
}

.dropdownPrice {
  margin-bottom: 27px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
}

.viewPrice {
  margin-bottom: 20px;

  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
}

.quantityWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 5px;
}

.quantity {
  display: block;
  font-weight: 500;
  line-height: 1.6em;
}

.dropdownQuantity {
    composes: quantity;
    font-size: 16px;
}

.viewQuantity {
    composes: quantity;
    font-size: 16px;
}


.quantityBtn {
    position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-text-color);
  background-color: transparent;

  cursor: pointer;
}

.quantityBtn svg {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);
}

.dropdownQuantityBtn {
    composes: quantityBtn;
    width: 24px;
    height: 24px;
}

.dropdownQuantityBtn svg {
    height: 8px;
    width: 8px;
}

.viewQuantityBtn {
    composes: quantityBtn;
    width: 45px;
    height: 45px;
}

.viewQuantityBtn svg {
    width: 15px;
}



.tax {
  margin-top: 32px;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.17em;

  & span {
    font-weight: 700;
  }
}

.quantity {
  margin-top: 8px;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.17em;

  & span {
    font-weight: 700;
  }
}

.dropdownTotal {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  font-family: var(--secondary-font);
}

.viewTotal {
  margin-top: 24px;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.17em;

  & span {
    font-weight: 700;
  }
}

.buttonsWrapper {
  display: flex;
  margin-top: 32px;
}

.link {
  display: inline-block;
  min-width: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 12px;
  border: 1px solid var(--main-text-color);

  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);

font-size: 14px;
font-weight: 600;
line-height: 1.21em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.dropdownBtn {
  composes: btn;

  min-width: 140px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.viewBtn {
  composes: btn;

padding-left: 32px;
padding-right: 32px;
margin-top: 16px;

  min-width: 279px;
  padding-top: 16px;
  padding-bottom: 16px;
}
