.link{
    color: var(--main-text-color);
    text-decoration: none;
}

.pictureWrapper {
    padding: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height: 100%;
    margin-bottom: 24px;
}

.picture {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.name {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}

.price {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
}