.link{
    display: flex;
    flex-direction: column;
    height:100%;
    color: var(--main-text-color);
    text-decoration: none;
}

.link:hover .cartBtn {
    opacity: 1;
    visibility: visible;
}

.picture {

    display: block;
    margin-top: auto;
    margin-bottom: auto;

}

.textWrapper{
    position: relative;
}

.name {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}

.price {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
}

.cartBtn {
    position: absolute;
    top: -26px;
    right: 31px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;

    opacity: 0;
    visibility: hidden;
    
    background-color: var(--accent-color);
    cursor: pointer;
}
