.CategoryView {
    padding-top: 80px;
} 

.title {
    font-size: 42px;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 103px;

    text-transform: capitalize;
}

.cardContainer {
    display:grid;
    grid-template-columns: 386px 386px 386px;
    grid-column-gap: 40px;
    grid-row-gap: 103px;
    // grid-auto-rows: minmax(100px, auto);
}

.card {
    position: relative;
    box-sizing: border-box;
    width: 386px;
    padding: 16px;
}

.card:hover{
    box-shadow: 0px 4px 35px 0px #A8ACB030;
   
}

.card:hover .cartBtn {
    opacity: 1;
    visibility: visible;
}

.cartBtn {
    position: absolute;
    bottom: 66px;
    right: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: none;
    border-radius: 50%;

    opacity: 0;
    visibility: hidden;

    background-color: var(--accent-color);
    cursor: pointer;
}