.dropdown {
    position: relative;
    width:20px;
    height: 20px;
    padding-top: 34px;
    padding-bottom: 28px;
}

.toggle{
    border: none;
    display:block;

    cursor: pointer;
    background-color: #fff;
}

.quantity

.wrapper {
    position: absolute;
    top: 100%;
    right: -15px;
    width:325px;

    background-color: #fff;
}

.Modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    max-width: 600px;
    width: 100%;
    padding: 12px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}