.dropdown {
  position: relative;
  width: 20px;
  height: 20px;
  padding-top: 34px;
  padding-bottom: 28px;
  z-index: 1000;
}

.toggle {
    position: relative;
  border: none;
  display: block;

  cursor: pointer;
  background-color: #fff;
}

.quantity {
    position:absolute;
    top:-9px;
    right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14em;
  color: #fff;
  background-color: var(--main-text-color);
}

.wrapper {
  position: absolute;
  top: 100%;
  right: -15px;
  width: 325px;
  z-index: 1001;

  background-color: #fff;
}
