.AppHeader {
    position:relative;
    display: flex;
    flex-direction: row;
}

.AppMenu {
   display: flex; 

   margin-right: 364px;
}

// .item {

// }

.link {
    position: relative;
    display:block;
    padding-top: 28px;
    padding-bottom: 32px;
    padding-right: 16px;
    padding-left: 16px;

    text-decoration: none;
    color: inherit;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 600;
    line-height: 1.19em;
    letter-spacing: 0px;
    
}

.active {
    color: var(--accent-color);

&::after {
        content: "";
        position: absolute;
        transform: translate(-16px);
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
    
        background-color: var(--accent-color);
}
}

.Logo{
    // justify-self: center;
    padding-top: 24px;
    padding-bottom: 15px;
    margin-right: 519px;
}