@import-normalize;

:root {
  --main-text-color: #1D1F22;
  --secondary-dark-color: #292929;
  --accent-color: #5ECE7B;
  --dropdown-btn-text-color: #A6A6A6;
  --cart-border-color: #E5E5E5;
  --out-of-stock-color: #8D8F9A;
  --main-font: 'Raleway', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --dropdown-buttons-font: 'Source Sans Pro',
  sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font);
  box-sizing: border-box;
}
