@import-normalize;

:root {
  --main-text-color: #1D1F22;
  --accent-color: #5ECE7B;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

body {
  color: var(--main-text-color);
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
